POSTGRES_USER=myuser
POSTGRES_DB=fastapi_database
POSTGRES_PASSWORD=password

PROJECT_TITLE="Email CRUD App"
PROJECT_VERSION="0.1.0"
PROJECT_DESCRIPTION="A simple CRUD app for emails. We'll deploy this to AWS."